html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("../fonts/HelveticaNeueW01-55Roman.eot?#iefix");
  src: url("../fonts/HelveticaNeueW01-55Roman.eot?#iefix") format("eot"),
  url("../fonts/HelveticaNeueW01-55Roman.woff") format("woff"),
  url("../fonts/HelveticaNeueW01-55Roman.ttf") format("truetype"),
  url("../fonts/HelveticaNeueW01-55Roman.svg#helvetica_neue") format("svg");
}

.ignore {
  display: none;
}

body {
  width: 85%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-content: center;*/
  background-color: #f0f4f7;
}


body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding: 0 30px;
  margin-bottom: 2px;
}

.box {
  padding: 0 30px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-family: LucidaGrande, sans-serif;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

header li > a,
header li > button {

}

header button {

}

body header ul {
  display: inline-flex;
  justify-content: space-between;
  width: 222px;
  font-family: Glyphter, sans-serif;
}

body header li {
  font-size: 40px;
  /*color: transparent;*/
  font-weight: lighter;
}

body main {
  background-color: inherit;
}

body main li {
  height: 117px;
  background-color: white;
  font-family: Avenir, sans-serif;
}

body main li > h2 {
  font-size: 33px;
  font-weight: 300;
  /*text-align: left;*/
  color: #59737c;
}

body main li > div {
  font-family: HelveticaNeueW01-55Roman, sans-serif;
  font-size: 30px;
  color: #59737c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
}

body main li:last-of-type {
  border-radius: 0 0 8px 8px ;
}

body header li:hover * {
  color: red;
}

.box-arrow button,
body header li button {
  border: none;
  background: none;
}

.change-button {
  font-family: Avenir, sans-serif;
  border: none;
  color: white;
  border-radius: 8px;
  /*padding: 8px;*/
  height: 56px;
  width: 150px;
}

.box-arrow {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 60px;
}

li:first-of-type .up-button:before,
li:last-of-type .down-button:before {
  color: #eeeeee;
}

.down-button,
.up-button {
  border: none;
  position: relative;
  color: transparent;
}

.down-button:before,
.up-button:before {
  color: #ababab;
}

.down-button {
  transform: rotate(180deg);
}

.green-button {
  background: #63da39;
}

.red-button {
  background: #ff4f46;
}
