html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.ignore {
  display: none;
}

body {
  width: 85%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-content: center;*/
  background-color: #f0f4f7;
}


body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding: 0 30px;
  margin-bottom: 2px;
  font-family: Avenir, sans-serif;

}

.box {
  padding: 0 30px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-family: LucidaGrande, sans-serif;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

header li > a,
header li > button {

}

header button {

}

body header ul {
  display: inline-flex;
  justify-content: space-between;
  width: 222px;
  /*font-family: Glyphter, sans-serif;*/
}

body header li {
}

body main {
  background-color: inherit;
}

body main li {
  height: 117px;
  background-color: white;
}

body main li:last-of-type {
  border-radius: 0 0 8px 8px ;
}
